<a href="https://colab.research.google.com/github/Infant-Joshva/Data-Science-learning-path/blob/main/Project_4(Multiple_Disease_Prediction)/notebooks/Kidney_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset-3 (Kidney Disease Prediction) - Data Preprocessing

#### Importing Necessary Packages for Data Cleaning

In [77]:
import pandas as pd

In [78]:
sheet_id= '1cew2eJA_0YRwYC5BOZdSl8fhTY0hSOVtD0xRfhevlgI'
sheet_name = "sheet1"

#https://docs.google.com/spreadsheets/d/1cew2eJA_0YRwYC5BOZdSl8fhTY0hSOVtD0xRfhevlgI/edit?usp=drivesdk

url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

kidney_df=pd.read_csv(url)

In [79]:
kidney_df.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39.0,7800.0,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36.0,NaN,NaN,no,no,no,good,no,no,ckd
7,7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44.0,6900.0,5.0,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33.0,9600.0,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29.0,12100.0,3.7,yes,yes,no,poor,no,yes,ckd

In [80]:
kidney_df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47.0,6700.0,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54.0,7800.0,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49.0,6600.0,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51.0,7200.0,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53.0,6800.0,6.1,no,no,no,good,no,no,notckd

####Deleting Duplicate Values

In [81]:
kidney_df.duplicated().sum()

np.int64(0)

In [82]:
kidney_df.drop_duplicates(inplace=True)

####Handling Null Values

In [83]:
(4/400)*100

1.0

In [94]:
kidney_df.isna().sum()

id                  0
age                 0
bp                  0
sg                  0
al                 43
su                 46
rbc               146
pc                 60
pcc                 0
ba                  0
bgr                43
bu                 19
sc                 17
sod                84
pot                85
hemo               49
pcv                68
wc                101
rc                125
htn                 0
dm                  0
cad                 0
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [85]:
kidney_df = kidney_df.dropna(subset=['pcc','ba'])

In [86]:
kidney_df = kidney_df.dropna(subset=['age'])

In [87]:
kidney_df = kidney_df.dropna(subset=['htn', 'dm', 'cad', 'appet','pe','ane'])

In [71]:
kidney_df.groupby('age')['bp'].mean()

age
2     80.0
3     80.0
4     80.0
5     50.0
6     60.0
      ...
80    72.5
81    60.0
82    80.0
83    70.0
90    90.0
Name: bp, Length: 76, dtype: float64

In [91]:
# Fill values for 'bp'

kidney_df['bp'] = kidney_df['bp'].fillna(kidney_df.groupby('age')['bp'].median())

In [92]:
kidney_df['bp'] = kidney_df['bp'].fillna(kidney_df['bp'].median())

In [93]:
kidney_df[kidney_df['bp'].isna()]

Empty DataFrame
Columns: [id, age, bp, sg, al, su, rbc, pc, pcc, ba, bgr, bu, sc, sod, pot, hemo, pcv, wc, rc, htn, dm, cad, appet, pe, ane, classification]
Index: []

[0 rows x 26 columns]

In [89]:
# Fill values for 'sg'

mode_value = kidney_df['sg'].mode()[0]
kidney_df['sg'] = kidney_df['sg'].fillna(mode_value)

In [69]:
kidney_df[kidney_df['sg'].isna()]

Empty DataFrame
Columns: [id, age, bp, sg, al, su, rbc, pc, pcc, ba, bgr, bu, sc, sod, pot, hemo, pcv, wc, rc, htn, dm, cad, appet, pe, ane, classification]
Index: []

[0 rows x 26 columns]

In [127]:
kidney_df.isna().sum()

id                  0
age                 0
bp                  0
sg                  0
al                  0
su                  0
rbc                 0
pc                  0
pcc                 0
ba                  0
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                68
wc                101
rc                125
htn                 0
dm                  0
cad                 0
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [96]:
kidney_df['al'].value_counts()

al
0.0    190
1.0     44
2.0     42
3.0     41
4.0     23
5.0      1
Name: count, dtype: int64

In [101]:
# Fill values for 'al'

mode_value = kidney_df['al'].mode()[0]
kidney_df['al'] = kidney_df['al'].fillna(mode_value)

In [97]:
kidney_df['su'].value_counts()

su
0.0    278
2.0     17
3.0     14
4.0     13
1.0     13
5.0      3
Name: count, dtype: int64

In [98]:
# Fill values for 'su'

mode_value = kidney_df['su'].mode()[0]
kidney_df['su'] = kidney_df['su'].fillna(mode_value)

In [99]:
# Fill values for 'rbc'

mode_value = kidney_df['rbc'].mode()[0]
kidney_df['rbc'] = kidney_df['rbc'].fillna(mode_value)

In [103]:
# Fill values for 'pc'

mode_value = kidney_df['pc'].mode()[0]
kidney_df['pc'] = kidney_df['pc'].fillna(mode_value)

In [107]:
# Fill values for 'bgr'

kidney_df['bgr'] = kidney_df['bgr'].fillna(kidney_df.groupby('age')['bgr'].median())

In [111]:
kidney_df['bgr'] = kidney_df['bgr'].fillna(kidney_df['bgr'].median())

In [112]:
kidney_df['bgr'].isna().sum()

np.int64(0)

In [114]:
# Fill values for 'sc'

kidney_df['sc'] = kidney_df['sc'].fillna(kidney_df.groupby('age')['sc'].median())
kidney_df['sc'] = kidney_df['sc'].fillna(kidney_df['sc'].median())

In [115]:
kidney_df['sc'].isna().sum()

np.int64(0)

In [117]:
# Fill values for 'bu'

kidney_df['bu'] = kidney_df['bu'].fillna(kidney_df.groupby('age')['bu'].median())
kidney_df['bu'] = kidney_df['bu'].fillna(kidney_df['bu'].median())

In [119]:
# Fill values for 'sod'

kidney_df['sod'] = kidney_df['sod'].fillna(kidney_df.groupby('age')['sod'].median())
kidney_df['sod'] = kidney_df['sod'].fillna(kidney_df['sod'].median())

In [120]:
kidney_df['sod'].isna().sum()

np.int64(0)

In [122]:
# Fill values for 'pot'

kidney_df['pot'] = kidney_df['pot'].fillna(kidney_df.groupby('age')['pot'].median())
kidney_df['pot'] = kidney_df['pot'].fillna(kidney_df['pot'].median())

In [123]:
kidney_df['pot'].isna().sum()

np.int64(0)

In [125]:
# Fill values for 'hemo'

kidney_df['hemo'] = kidney_df['hemo'].fillna(kidney_df.groupby('age')['hemo'].median())
kidney_df['hemo'] = kidney_df['hemo'].fillna(kidney_df['hemo'].median())

In [126]:
kidney_df['hemo'].isna().sum()

np.int64(0)

In [134]:
kidney_df.isna().sum()

id                  0
age                 0
bp                  0
sg                  0
al                  0
su                  0
rbc                 0
pc                  0
pcc                 0
ba                  0
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                 0
wc                  0
rc                125
htn                 0
dm                  0
cad                 0
appet               0
pe                  0
ane                 0
classification      0
dtype: int64

In [129]:
# Fill values for 'pcv'

kidney_df['pcv'] = kidney_df['pcv'].fillna(kidney_df.groupby('age')['pcv'].median())
kidney_df['pcv'] = kidney_df['pcv'].fillna(kidney_df['pcv'].median())

In [130]:
kidney_df['pcv'].isna().sum()

np.int64(0)

In [132]:
# Fill values for 'wc'

kidney_df['wc'] = kidney_df['wc'].fillna(kidney_df.groupby('age')['wc'].median())
kidney_df['wc'] = kidney_df['wc'].fillna(kidney_df['wc'].median())

In [133]:
kidney_df['wc'].isna().sum()

np.int64(0)

In [135]:
# Fill values for 'rc

kidney_df['rc'] = kidney_df['rc'].fillna(kidney_df.groupby('age')['rc'].median())
kidney_df['rc'] = kidney_df['rc'].fillna(kidney_df['rc'].median())

In [136]:
kidney_df['rc'].isna().sum()

np.int64(0)

In [137]:
kidney_df.isna().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

####Data Type conversion

In [154]:
kidney_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 384 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              384 non-null    int64
 1   age             384 non-null    int64
 2   bp              384 non-null    int64
 3   sg              384 non-null    float64
 4   al              384 non-null    int64
 5   su              384 non-null    int64
 6   rbc             384 non-null    object
 7   pc              384 non-null    object
 8   pcc             384 non-null    object
 9   ba              384 non-null    object
 10  bgr             384 non-null    int64
 11  bu              384 non-null    int64
 12  sc              384 non-null    float64
 13  sod             384 non-null    float64
 14  pot             384 non-null    float64
 15  hemo            384 non-null    float64
 16  pcv             384 non-null    int64
 17  wc              384 non-null    int64
 18  rc              384 non-null    float64
 19  htn             384 non-null    object
 20  dm              384 non-null    object
 21  cad             384 non-null    object
 22  appet           384 non-null    object
 23  pe              384 non-null    object
 24  ane             384 non-null    object
 25  classification  384 non-null    object
dtypes: float64(6), int64(9), object(11)
memory usage: 81.0+ KB

In [49]:
kidney_df['classification'].unique()

array(['ckd', 'notckd'], dtype=object)

Need to change Data types for this column *"float"* to *"int"*
1. Age - Int
2. BP - Int
3. AL - Int
4. Su - Int
5. bgr - Int
6. bu - Int
7. pcv - Int
8. wc - Int

In [139]:
kidney_df['age'] = kidney_df['age'].astype(int)

In [141]:
kidney_df['bp'] = kidney_df['bp'].astype(int)

In [143]:
kidney_df['al'] = kidney_df['al'].astype(int)

In [144]:
kidney_df['su'] = kidney_df['su'].astype(int)

In [151]:
kidney_df['bgr'] = kidney_df['bgr'].astype(int)

In [147]:
kidney_df['bu'] = kidney_df['bu'].astype(int)

In [148]:
kidney_df['pcv'] = kidney_df['pcv'].astype(int)

In [149]:
kidney_df['pcv'] = kidney_df['pcv'].astype(int)

In [153]:
kidney_df['wc'] = kidney_df['wc'].astype(int)